<%= stylesheet_link_tag params[:controller] %>

<p id="alert1"> <%= notice %> </p>

<h1 id="login">Login / Create Account</h1>

<div id="sessions-form">

<%= form_tag '/sessions/new' do %>

    <%= label_tag :email %>
    <span id="email-separator"> lll..l </span>
    <%= text_field_tag :email %>

    <br>

    <%= label_tag :password%>
    <%= password_field_tag :password %>

    <br>

    <%= submit_tag "SUBMIT", class:"submit-input" %>

    <br>

    <a href="/users/new">
    <button type="button", id="signup-link">
    CREATE ACCOUNT
    </button>
    </a>

<% end %>
</div>
