<!-- <%= stylesheet_link_tag params[:controller] %> -->

<p id="alert1"> <%= notice %> </p>

<h1>Login</h1>

<%= form_tag '/sessions/new' do %>

    <%= label_tag :email %>
    <%= text_field_tag :email %>
          
    <%= label_tag :password%>
    <%= password_field_tag :password %>
  
    <%= submit_tag "Submit" %>
    
    <br>
    
    <%= link_to "Not registered? Signup here", new_user_path %>

<% end %>