

<h2> <%=current_user.name%>'s Video Logs </h2>
  <% @current_user_videos.each_with_index do |v, index| %>
    <a href='<%="https://s3.amazonaws.com/pitchusers/#{v}"%>'> <%= "Video" + (index + 1).to_s %> </a> <br>
    <a href='<%="/emotions/graph/#{v.delete(".mp4")}"%>'> <%= "Obtain Emotion Analysis" %> </a> <br>
  <%end%>

