<h1> <%=User.all.order(updated_at: :desc).first.videos.first.url%></h1>

<h2> <%=current_user.name%>'s Video Logs </h2>
  <% @all_videos.each do |v| %>
    <a href='<%=v.url%>'> <%= v.url %> </a>
     <!-- <a href="#"> <%= "emotion track" %> </a><br> -->
  <%end%>
  
  <!--"View your video chat with"  + v.customer  -->