<%= stylesheet_link_tag params[:controller] %>
<%= hidden_field_tag "foo_name", @session_id, { :id => "foo-name" }%>
<%= hidden_field_tag "token", @token, { :id => "token" }%>

<p id="notice"><%= notice %></p>

<%= hidden_field_tag "foo_name", @session_id, { :id => "foo-name" }%>
<%= hidden_field_tag "token", @token, { :id => "token" }%>


<div id="opentok_console"></div>
<div id="links">
  <input type="button" value="Connect" id ="connectLink">
  <input type="button" value="Leave" id ="disconnectLink">
  <input type="button" value="Start Publishing" id ="publishLink">
  <input type="button" value="Stop Publishing" id ="unpublishLink">
</div>
<div id="myCamera" class="publisherContainer"></div>
<div id="subscribers"></div>


<h1>Listing Users</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td><%= link_to 'Show', user %></td>
        <td><%= link_to 'Edit', edit_user_path(user) %></td>
        <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User', new_user_path %>
