<%= stylesheet_link_tag params[:controller] %>
<p id="notice"><%= notice %></p>

<%if @list1.where.not(session_id: nil).last%>


  <%= hidden_field_tag "foo_name", @session_id, { :id => "foo-name" }%>
  <%= hidden_field_tag "token", @token, { :id => "token" }%>


  <div id="opentok_console"></div>
  <div id="links">
    <input type="button" value="Create Room" id ="connectLink">
    <input type="button" value="Leave Room" id ="disconnectLink">
    <input type="button" value="Start Publishing" id ="publishLink">
    <input type="button" value="Stop Publishing" id ="unpublishLink">
  </div>
  <div id="myCamera" class="publisherContainer"></div>
  <div id="subscribers"></div>
  
  <%else%>
  
  <h4> No Open Sessions. Try creating your own! <h4>
  <%= link_to 'Create Session', ('/users/createsesh/' + current_user.id.to_s)%> 
  <br> <br> <br>
  <%= link_to 'Dashboard', current_user %>

<%end%>