<%= stylesheet_link_tag params[:controller] %>

<p id="notice"><%= notice %></p>

<svg viewBox="0 0 2600 300">
	<symbol id="s-text">
		<text text-anchor="middle" x="50%" y="20%"><%=current_user.name%>'s Dashboard</text>
	</symbol>

	<g class = "g-ants">
		<use xlink:href="#s-text" class="text-copy"></use>
		<use xlink:href="#s-text" class="text-copy"></use>
		<use xlink:href="#s-text" class="text-copy"></use>
		<use xlink:href="#s-text" class="text-copy"></use>
		<use xlink:href="#s-text" class="text-copy"></use>
	</g>
</svg>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<%= link_to 'Edit Profile', edit_user_path(@user) %> |
<%= link_to 'Create Session', '/createhub'%> |
<%= link_to 'Find a Session', '/joinhub'%> |
<%= link_to 'Delete account', @user, method: :delete, data: { confirm: 'Are you sure?' } %>
