<%= stylesheet_link_tag params[:controller] %>

<p id="notice"><%= notice %></p>

<svg viewBox="0 0 2600 300">
	<symbol id="s-text">
		<text text-anchor="middle" x="50%" y="20%"><%=current_user.name%>'s Dashboard</text>
	</symbol>

	<g class = "g-ants">
		<use xlink:href="#s-text" class="text-copy"></use>
		<use xlink:href="#s-text" class="text-copy"></use>
		<use xlink:href="#s-text" class="text-copy"></use>
		<use xlink:href="#s-text" class="text-copy"></use>
		<use xlink:href="#s-text" class="text-copy"></use>
	</g>
</svg>

<div class="dash-links">
<% if current_user.repcode %>
	<a href='/rooms/create_hub', class="myButton"> Create Session </a>
<%end%>
<br> <br>
<a href='/rooms/join_hub', class="myButton"> Find Session </a>
<br> <br>
<a href='/users/<%=@user.id%>/edit', class="myButton"> Edit Profile</a>
<br> <br>
<%= button_to 'Delete account', @user, method: :delete, data: { confirm: 'Are you sure?' }, class: "myButton", id:"delete-acct"%> 
</div>


