<%= stylesheet_link_tag params[:controller] %>

<% if current_user.repcode != nil %>

<div class="rooms-font-div">
<h3 id="etoe"> Employee-to-Employee Session </h3>
<%= form_tag '/rooms/join_hub' do %>

    <%= label_tag :enter_your_code, "Enter your code:"%>
    <%= text_field_tag :code %>
  
    <%= submit_tag "Join" %>

<% end %>

<%end%>


<%if  current_user.repcode ==nil %>
  <%if User.where.not(session_id: nil).last %>
    <h3> Available Representatives </h3>
    <% @list2.each do |u| %>
      <p><%= link_to (u.name) , ('/rooms/join_sesh/' + u.id.to_s) %> </p>
    <%end%>
    
  <%else%>
    <h4> Sorry, no public sessions! <h4>
    <%= link_to 'Create Session', ('/rooms/create_sesh/' + current_user.id.to_s)%> 
  <%end%>
<%end%>

</div>
