<%= stylesheet_link_tag params[:controller] %>

<link href='https://fonts.googleapis.com/css?family=Fredoka+One' rel='stylesheet' type='text/css'>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<header id="header-background">

    <!-- <a><img src="img/tlogo.png" class="logo-image" ></a> -->


    <div class="titles">
        <h1 class="title1"><strong>TREMO<strong></h1>
        <!-- <h2 class="">Multimedia Customer Service</h2> -->
    </div>
    <nav>
      <ul>
        <li><a class="product">PRODUCT</a></li>
        <li><a class="about">ABOUT</a></li>
        <li><a class="technology">TECHNOLOGY</a></li>
        <li><a class="contact">CONTACT</a></li>
      </ul>
    </nav>
  </header>

  <!-- /**********************************
  SECTION VIDEO DISPLAY
  ***********************************/ -->

  <section id="video-display">

    <!-- <div class="backvid"> -->
<div class="full-vid">
    <video autoplay loop>
      <source src="https://s3.amazonaws.com/pitchusers/pitchvid.mp4" type="video/mp4">
      <source src="movie.ogg" type="video/ogg">
      Your browser does not support the video tag.
    </video>

  </div>



    <!-- <div id="actual-video" style="height: 500px; width: 500px">VIDEO</div> -->

    <a class="button-demo" href="/sessions/new"> <button class="demo-btn" type="button">TREMO</button> </a>


    <div class="arrow-down">
      <i class="fa fa-arrow-circle-down fa-2x"></i>
    </div>
</section>




  <!-- /**********************************
  SECTION PRODUCT
  ***********************************/ -->

  <section id="product-background">

<!-- <div class="product-images">
  <div class="video-img">
    <%= image_tag("video.png", size: "325x325" ) %>
  </div>

  <div class="arrow1">
  <%= image_tag("arrow.png", size: "100x50") %>
  </div>

  <div class="smile-img">
    <%= image_tag("smile.png", size: "325x325") %>
  </div>

  <div class="arrow2">
  <%= image_tag("arrow2.png", size: "100x50") %>
  </div>


  <div class="graph-img">
  <%= image_tag("graph.png", size: "325x325") %>
  </div>
</div> -->

<div class="product-img">
  <%= image_tag("aboutimg.png", size: "1200x600") %>
</div>

  </section>

  <!-- /**********************************
  SECTION ABOUT
  ***********************************/ -->

  <section id="about-background">

    <div class="about-img">
      <%= image_tag("white.png", size: "1200x600") %>
    </div>

  </section>


  <!--
    /**********************************
    SECTION TECNOLOGY
    ***********************************/ -->

    <section id="tecnology-background">

      <div class="tec-image">
        <%= image_tag("tecicons2.png", size: "1000x550") %>
    </div>


  </section>


<!-- /**********************************
  FOOTER CONTACT
***********************************/ -->
  <footer id="contact-background">

    <!-- <div id="contact"> -->
          <!-- <h3 class="contact-title">Contact us:</h3> -->

          <div id="contact-icons">
          <ul class="list-unstyled">
            <li class="phone"><i class="fa fa-phone fa-lg"></i><a href="tel:800-777-787">800-777-787</a></li>
            <li class="mail"><i class="fa fa-envelope-o fa-lg"></i><a href="mailto:contact@tremo.com">contact@tremo.com</a></li>
            <!-- <li class="skype"><a href="skype:">Tommy Bisi</a></li> -->
          </ul>
       </div>

          <div id="address"><a href="https://www.google.com/maps/place/400+NW+26th+St,+Miami,+FL+33127/@25.8011416,-80.2044331,17z/data=!3m1!4b1!4m2!3m1!1s0x88d9b6b3a5bf83e1:0xdceabc622068c2c5"><br>
            400 NW 26th,<br>
            Miami, FL 33127.<br>
            United States</a>
        </div>

      <div id="all-social-icons">
        <a href="https://www.instagram.com/"
          class="fa fa-instagram fa-3x" id="social-icon"></a>

        <a href="https://www.linkedin.com/"
          class="fa fa-linkedin fa-3x" id="social-icon"></a>

        <a href="https://www.facebook.com/"
          class="fa fa-facebook fa-3x" id="social-icon"></a>

        <a href="https://www.google.com/"
          class="fa fa-google fa-3x" id="social-icon"></a>

      </div>

        <div class="copyright">
          <p>&copy;TREMO 2016</p>
      </div>


  </footer>
