<!DOCTYPE html>
<html>
<head>
  <title>Party Chat</title>
  <!-- favicon format
  <link rel="SHORTCUT ICON" href="http://domain and path/favicon.ico" />
  <link rel="icon" href="http://domain and path/favicon.ico" type="image/ico" /> -->
  <link rel="shortcut icon" href="http://www.veryicon.com/icon/ico/Emoticon/IconTexto%20Emoticons/Smile%20Face.ico" />
  <link rel="icon" href="http://www.veryicon.com/icon/ico/Emoticon/IconTexto%20Emoticons/Smile%20Face.ico" type="image/ico" />
  <script src="https://static.opentok.com/webrtc/v2.2/js/opentok.min.js" type="text/javascript" charset="utf-8"></script> 
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  
  <% if (current_user && params[:controller] != "sessions")%>
    <p> Hello <%= current_user.name %> | <%= link_to "Logout", '/logout' %> </p>
  <% end %>

<%= yield %>

</body>
</html>
