<!DOCTYPE html>
<html>
<head>
  <title>Template</title>
  <link rel="shortcut icon" href="http://icons.iconarchive.com/icons/custom-icon-design/pretty-office-8/128/Accept-icon.pngx" />
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  
  <% if current_user %>
    <p> Hello <%= current_user.name %> | <%= link_to "Logout", '/logout' %> </p>
  <% else %>
    <%= link_to 'Login', '/login' %> | <%= link_to 'Signup', new_user_path %>
  <% end %>

<%= yield %>

</body>
</html>
